{
  "extends": "airbnb",
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": ["error", { "code": 100, "ignoreTemplateLiterals": true }],
    "@typescript-eslint/no-unused-vars": "warn",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-unused-vars": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "consistent-return": "off",
    "no-cond-assign": "off",
    "prefer-destructuring": "warn",
    "no-continue": "off",
    "no-param-reassign": "warn",
    "no-useless-constructor": "warn",
    "max-classes-per-file": "off",
    "no-prototype-builtins": "warn",
    "new-cap": "warn",
    "no-constructor-return": "warn",
    "no-use-before-define": "warn",
    "no-useless-return": "warn"
  }
}
