%flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%zero-edges {
  padding: 0;
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
}

.sidebar {
  padding: 10px 0;
}

.settings {
  @extend %flex-container;

  gap: 10px;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chats {
  @extend %flex-container;

  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}

.feed {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid black;
}

.feed__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}

.feed__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.feed__image {
  width: 50px;
  height: 50px;
  border: 1px solid beige;
}

.feed__name {
  padding: 0;
  margin: 0;
}

.feed__messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

.feed__input {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-gap: 10px;
  padding: 10px;
  border-top: 1px solid gray;
  box-sizing: border-box;
}

.feed__text {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  color: #24292f;
}

.feed__submit {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #2da44e;
  border: 1px solid #1b1f2426;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  cursor: pointer;
}
