.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
}

.sidebar {
  padding: 10px 0;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.chats {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.feed {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}

.feed__header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px;
  border-bottom: 1px solid gray;
}

.feed__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feed__image {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.feed__name {
  padding: 0;
  margin: 0;
}

.feed__messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  height: 100%;
  padding: 10px 0;
  overflow-y: auto;
}

.feed__input {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-gap: 10px;
  padding: 10px 0 0;
  border-top: 1px solid gray;
}
