.page-market {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-market__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
